@media screen and (max-width: 1135px) {
    .image-text-container {
        grid-template-columns: 1fr;
        
    }

    .image-text-container > div:nth-child(2) {
        padding: calc(var(--inline-paragraph-padding) / 2)
            var(--inline-paragraph-padding);
    }

    /* bild på höger sida*/
    .image-text-container picture:nth-child(2) img, .image-text-container picture:nth-child(1) img {
        border-radius: 0 0 var(--image-text-border-radius)
            var(--image-text-border-radius);
    }

    .image-text-container > div {
        /* Bilden blir nederst, texten överst */
        grid-row: 1;
    }
}

@media screen and (max-width: 900px) {
    .desktop-nav {
        display: none;
    }

    .mobile-nav {
        display: block;
        background: none;
        border: none;
        color: white;
        cursor: pointer;
    }
}

@media screen and (max-width: 768px) {

    /* GENERAL STYLES */
    section {
        padding: 2rem calc(var(--inline-content-padding) / 2);
    }
    /* END GENERAL STYLES */

    /* ACTIVITIES*/
    
    
    /* END ACTIVITIES*/

    /* ANIMAL BANNER */
    .animal-wrapper {
        padding: 0;
    }
    /* END ANIMAL BANNER */

    /* OUR LOCATION */
    .location-wrapper {
        gap: 1em;
    }
    /* END OUR LOCATION */

    /* NEWS FORM */
    .form-row {
        grid-template-columns: 1fr;
    }
    /* END NEWS FORM */

    /* FOOTER */
    .footer-link-list {
        grid-template-columns: auto;
    }
    /* END FOOTER */
}

/* Super small screens */
@media screen and (max-width: 485px) {
    .activities-list {
        flex-direction: column;
        align-items: center;
    }
}