/* RESET */
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

img {
    max-width: 100%;
    display: block;
}

p {
    font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
    padding: 0;
}
/* END RESET */

/* VARIABLES */
:root {
    --color-lime-50: oklch(98.6% 0.031 120.757);
    --color-lime-100: oklch(96.7% 0.067 122.328);
    --color-lime-200: oklch(93.8% 0.127 124.321);
    --color-lime-300: oklch(89.7% 0.196 126.665);
    --color-lime-400: oklch(84.1% 0.238 128.85);
    --color-lime-500: oklch(76.8% 0.233 130.85);
    --color-lime-600: oklch(64.8% 0.2 131.684);
    --color-lime-700: oklch(53.2% 0.157 131.589);
    --color-lime-800: oklch(45.3% 0.124 130.933);
    --color-lime-900: oklch(40.5% 0.101 131.063);
    --color-lime-950: oklch(27.4% 0.072 132.109);

    --color-green-50: oklch(98.2% 0.018 155.826);
    --color-green-100: oklch(96.2% 0.044 156.743);
    --color-green-200: oklch(92.5% 0.084 155.995);
    --color-green-300: oklch(87.1% 0.15 154.449);
    --color-green-400: oklch(79.2% 0.209 151.711);
    --color-green-500: oklch(72.3% 0.219 149.579);
    --color-green-600: oklch(62.7% 0.194 149.214);
    --color-green-700: oklch(52.7% 0.154 150.069);
    --color-green-800: oklch(44.8% 0.119 151.328);
    --color-green-900: oklch(39.3% 0.095 152.535);
    --color-green-950: oklch(26.6% 0.065 152.934);

    --color-emerald-50: oklch(97.9% 0.021 166.113);
    --color-emerald-100: oklch(95% 0.052 163.051);
    --color-emerald-200: oklch(90.5% 0.093 164.15);
    --color-emerald-300: oklch(84.5% 0.143 164.978);
    --color-emerald-400: oklch(76.5% 0.177 163.223);
    --color-emerald-500: oklch(69.6% 0.17 162.48);
    --color-emerald-600: oklch(59.6% 0.145 163.225);
    --color-emerald-700: oklch(50.8% 0.118 165.612);
    --color-emerald-800: oklch(43.2% 0.095 166.913);
    --color-emerald-900: oklch(37.8% 0.077 168.94);
    --color-emerald-950: oklch(26.2% 0.051 172.552);

    --color-orange-50: oklch(98% 0.016 73.684);
    --color-orange-100: oklch(95.4% 0.038 75.164);
    --color-orange-200: oklch(90.1% 0.076 70.697);
    --color-orange-300: oklch(83.7% 0.128 66.29);
    --color-orange-400: oklch(75% 0.183 55.934);
    --color-orange-500: oklch(70.5% 0.213 47.604);
    --color-orange-600: oklch(64.6% 0.222 41.116);
    --color-orange-700: oklch(55.3% 0.195 38.402);
    --color-orange-800: oklch(47% 0.157 37.304);
    --color-orange-900: oklch(40.8% 0.123 38.172);
    --color-orange-950: oklch(26.6% 0.079 36.259);

    --pale-sky: #bfd7eaff;
    --cool-steel: #91aec1ff;
    --air-force-blue: #508ca4ff;
    --sea-green: #0a8754ff;
    --dark-spruce: #004f2dff;

    --pine-teal: #004733ff;
    --dark-emerald: #2b6a4dff;
    --sea-green: #568d66ff;
    --ash-grey: #a5c1aeff;
    --platinum: #f3f4f6ff;
    --alabaster-grey: #dcdfe5ff;
    --light-coral: #df8080ff;
    --brick-ember: #cb0b0aff;
    --mahogany-red: #ad080fff;
    --deep-crimson: #8e0413ff;

    /* --primary-color: var(--color-green-900); */
    --primary-color: #386641;
    --secondary-color: #f97a00;
    /* --accent-color-1: #fed16a; */
    --accent-color-1: #fed16a;
    /* --accent-color-2: oklch(96.2% 0.059 95.617);
    --accent-color-3: oklch(98.7% 0.022 95.277); */
    --accent-color-2: var(--color-orange-50);
    --accent-color-3: var(--color-orange-100);
    /* --accent-color-2: #fff4a4; */

    --header-logo-font-family: "Finger Paint", sans-serif;
    --heading-font-family: "Lexend", sans-serif;

    --inline-content-padding: 3rem;
    --inline-paragraph-padding: 2rem;

    /* --floating-shadow: 1px 8px 11px 5px rgba(0, 0, 0, 0.19); */

    --image-text-border-radius: 2rem;
    --btn-border-radius: 1rem;
    --input-border-radius: 0.5rem;

    --max-content-width: 80rem;
}
/* END VARIABLES */

/* GENERAL TITLES */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font-family);
}

.sub-title {
    font-size: 1.5rem;
    color: gray;
}
/* END GENERAL TITLES */

/* UTILITIES */
.z-index-top {
    z-index: 2;
    position: relative;
}

.maxed-content {
    max-width: var(--max-content-width);
    margin: auto;
}
/* END UTILITIES */

/* GENERAL STYLES */
.section-primary-bg {
    background-color: var(--primary-color);
    background: linear-gradient(
        15deg,
        rgba(56, 102, 65, 1) 0%,
        rgba(71, 125, 81, 1) 100%
    );
}

.section-accent-2-bg {
    background-color: var(--accent-color-2);
}

.section-accent-3-bg {
    background-color: var(--accent-color-3);
}

section,
footer {
    padding: 2rem var(--inline-content-padding);
}

header a,
footer a {
    text-decoration: none;
    color: white;
    font-family: var(--heading-font-family);
}

header nav a:hover,
footer a:hover {
    color: var(--secondary-color);
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
}

.bold {
    font-weight: 700;
}
/* END GENERAL STYLES */

/* HEADER*/
header {
    background-color: var(--primary-color);
    /* background: linear-gradient(15deg,rgba(56, 102, 65, 1) 0%, rgba(56, 102, 65, 1) 58%, rgba(254, 209, 106, 1) 100%); */
    background: linear-gradient(
        15deg,
        rgba(56, 102, 65, 1) 0%,
        rgba(71, 125, 81, 1) 100%
    );
    /* background: linear-gradient(15deg,rgba(56, 102, 65, 1) 0%, rgba(254, 209, 106, 1) 100%); */
    display: flex;
    justify-content: space-between;
    padding: 1.5em var(--inline-content-padding);
    box-shadow: -4px -46px 57px -43px rgba(0, 0, 0, 0.25) inset;
}

.header-title {
    font-family: var(--header-logo-font-family);
    text-shadow: 2px 2px #c05f049e;
    font-weight: 700;
    color: var(--secondary-color);
    font-size: 1.2em;
}

.header-sub-title {
    font-size: 1em;
}

nav {
    align-content: center;
}

.nav-menu {
    display: flex;
    gap: 2em;
    font-family: var(--heading-font-family);
    list-style: none;
}

.mobile-nav {
    display: none
}
/* END HEADER */

/* BUTTONS */
.btn {
    padding: 1rem 2rem;
    border-radius: var(--btn-border-radius);
    border: 1px solid black;
    font-family: var(--heading-font-family);
    margin-block: 2em;
    border-width: 2px;
    font-weight: 700;
}

.btn:hover {
    box-shadow: 1px 4px 8px 4px rgba(0, 0, 0, 0.19);
    translate: 0 -0.3em;
}

.btn:hover {
    cursor: pointer;
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: white;
    border-width: 2px;
    font-weight: 700;
}

.btn-secondary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: white;
}

/* END BUTTONS */

/* HERO */
.hero-section {
    /* 2 fallbacks */
    background-color: var(--accent-color-1);
    background-image: url("/images/tiger.jpg");

    background: linear-gradient(
            90deg,
            var(--accent-color-1) 10%,
            rgba(0, 0, 0, 0) 100%
        ),
        url("/images/tiger.jpg") no-repeat top right / cover;

    box-shadow: var(--floating-shadow);
    padding: 6rem var(--inline-content-padding);
}

/* END HERO */

/* ACTIVITIES SECTION */
.activities-section {
    display: grid;
    gap: var(--inline-paragraph-padding);
    justify-items: center;
}

.activities-list {
    list-style: none;
    display: flex;
    gap: 2rem;
    font-family: var(--heading-font-family);
    font-weight: 300;
    text-align: center;
}

.image-text-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--inline-paragraph-padding);
    background: white;
    border-radius: var(--image-text-border-radius);
    box-shadow: var(--floating-shadow);
}

.image-text-container > div:nth-child(1) {
    padding: calc(var(--inline-paragraph-padding) / 2)
        var(--inline-paragraph-padding);
}

.image-text-container > div:nth-child(2) {
    padding: calc(var(--inline-paragraph-padding) / 2)
        var(--inline-paragraph-padding);
    padding-left: 0;
}

/* bild på höger sida*/
.image-text-container picture:nth-child(2) img {
    border-radius: 0 var(--image-text-border-radius)
        var(--image-text-border-radius) 0;
}

/* bild på vänster sida */
.image-text-container picture:nth-child(1) img {
    border-radius: var(--image-text-border-radius) 0 0
        var(--image-text-border-radius);
}

.animal-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding: 2rem var(--inline-content-padding);
    box-shadow: var(--floating-shadow);
    z-index: 2;
}
/* END ACTIVITIES SECTION */

/* POPULAR ANIMALS*/
.animals-section-content {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
}

table, th, td {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    background-color: var(--accent-color-2);
}

table img {
    /* to be able to center image */
    display: inline;
}

/* END POPULAR ANIMALS*/

/* OUR LOCATION*/
.location-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 4em;
}
/* END OUR LOCATION*/

/* NEWS LETTER */
.required {
    color: red;
}

.small-text {
    font-size: 0.8rem;
    margin: 0;
}

.news-heading-title {
    font-size: 3.09em;
    color: var(--secondary-color);
}

.news-sub-title {
    font-size: 1.9em;
    font-family: var(--heading-font-family);
    margin-block: 0.5em;
}

.news-wrapper {
    max-width: calc(var(--max-content-width) / 2);
}

form {
    display: grid;
    gap: 1rem;
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
}

form input {
    padding: 0.5rem;
    border-radius: var(--input-border-radius);
    border: 1px solid var(--accent-color-2);
}

form input:hover {
    border: 1px solid var(--accent-color-1);
}

label {
    font-family: var(--heading-font-family);
}
/* END NEWS LETTER */

/* FOOTER */
footer {
    display: flex;
    justify-content: center;
    gap: 3em;
    box-shadow: var(--floating-shadow);
    color: white;
    border-top: 2px solid var(--accent-color-1);
}

.footer-link-list {
    list-style: none;
    font-family: var(--heading-font-family);
}

.footer-heading-title {
    font-size: 1.5em;
    color: var(--secondary-color);
}

.icons-wrapper,
.footer-link-list {
    display: grid;
    gap: 0.5em;
    column-gap: 1em;
    grid-template-columns: auto auto;
}
/* END FOOTER */

