/* RESET */
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

img {
    max-width: 100%;
    display: block;
}

p {
    font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
    padding: 0;
}
/* END RESET */

/* VARIABLES */
:root {
    --color-orange-50: oklch(98% 0.016 73.684);
    --color-orange-100: oklch(95.4% 0.038 75.164);

    --primary-color: #386641;
    --secondary-color: #f97a00;

    --accent-color-1: #fed16a;
    --accent-color-2: var(--color-orange-50);
    --accent-color-3: var(--color-orange-100);

    --header-logo-font-family: "Finger Paint", sans-serif;
    --heading-font-family: "Lexend", sans-serif;

    --inline-content-padding: 3rem;
    --inline-paragraph-padding: 2rem;

    --floating-shadow: 1px 8px 11px 5px rgba(0, 0, 0, 0.19);

    --image-text-border-radius: 2rem;
    --btn-border-radius: 1rem;
    --input-border-radius: 0.5rem;

    --max-content-width: 80rem;
}
/* END VARIABLES */

/* GENERAL TITLES */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font-family);
}

.sub-title {
    font-size: 1.5rem;
    color: gray;
}
/* END GENERAL TITLES */

/* UTILITIES */
.z-index-top {
    z-index: 2;
    position: relative;
}

.maxed-content {
    max-width: var(--max-content-width);
    margin: auto;
}
/* END UTILITIES */

/* GENERAL STYLES */
.section-primary-bg {
    background-color: var(--primary-color);
    background: linear-gradient(
        15deg,
        rgba(56, 102, 65, 1) 0%,
        rgba(71, 125, 81, 1) 100%
    );
}

.section-accent-2-bg {
    background-color: var(--accent-color-2);
}

.section-accent-3-bg {
    background-color: var(--accent-color-3);
}

section,
footer {
    padding: 2rem var(--inline-content-padding);
}

header a,
footer a {
    text-decoration: none;
    color: white;
    font-family: var(--heading-font-family);
}

header nav a:hover,
footer a:hover {
    transition: 0.4s ease;
    color: var(--secondary-color);
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
}

.bold {
    font-weight: 700;
}
/* END GENERAL STYLES */

/* HEADER*/
header {
    background-color: var(--primary-color);
    /* background: linear-gradient(15deg,rgba(56, 102, 65, 1) 0%, rgba(56, 102, 65, 1) 58%, rgba(254, 209, 106, 1) 100%); */
    background: linear-gradient(
        15deg,
        rgba(56, 102, 65, 1) 0%,
        rgba(71, 125, 81, 1) 100%
    );
    /* background: linear-gradient(15deg,rgba(56, 102, 65, 1) 0%, rgba(254, 209, 106, 1) 100%); */
    display: flex;
    justify-content: space-between;
    padding: 1.5em var(--inline-content-padding);
    box-shadow: -4px -46px 57px -43px rgba(0, 0, 0, 0.25) inset;
}

.header-title {
    font-family: var(--header-logo-font-family);
    text-shadow: 2px 2px #c05f049e;
    font-weight: 700;
    color: var(--secondary-color);
    font-size: 1.2em;
}

.header-sub-title {
    font-size: 1em;
}

nav {
    align-content: center;
}

.nav-menu {
    display: flex;
    gap: 2em;
    font-family: var(--heading-font-family);
    list-style: none;
}

.mobile-nav {
    display: none;
}
/* END HEADER */

/* BUTTONS */
.btn {
    padding: 1rem 2rem;
    border-radius: var(--btn-border-radius);
    border: 1px solid black;
    font-family: var(--heading-font-family);
    margin-block: 2em;
    border-width: 2px;
    font-weight: 700;
}

.btn:hover {
    box-shadow: 1px 4px 8px 4px rgba(0, 0, 0, 0.19);
    translate: 0 -0.3em;
}

.btn:hover {
    cursor: pointer;
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: white;
    border-width: 2px;
    font-weight: 700;
}

.btn-secondary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: white;
}

/* END BUTTONS */

/* HERO */
.hero-section {
    /* 2 fallbacks */
    background-color: var(--accent-color-1);
    background-image: url("/images/tiger.jpg");

    background: linear-gradient(
            90deg,
            var(--accent-color-1) 10%,
            rgba(0, 0, 0, 0) 100%
        ),
        url("/images/tiger.jpg") no-repeat top right / cover;

    box-shadow: var(--floating-shadow);
    padding: 6rem var(--inline-content-padding);
}

/* END HERO */

/* ACTIVITIES SECTION */
.activities-section {
    display: grid;
    gap: var(--inline-paragraph-padding);
    justify-items: center;
}

.activities-list {
    list-style: none;
    display: flex;
    gap: 2rem;
    font-family: var(--heading-font-family);
    font-weight: 300;
    text-align: center;
}

.image-text-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--inline-paragraph-padding);
    background: white;
    border-radius: var(--image-text-border-radius);
    box-shadow: var(--floating-shadow);
}

.image-text-container > div:nth-child(1) {
    padding: calc(var(--inline-paragraph-padding) / 2)
        var(--inline-paragraph-padding);
}

.image-text-container > div:nth-child(2) {
    padding: calc(var(--inline-paragraph-padding) / 2)
        var(--inline-paragraph-padding);
    padding-left: 0;
}

/* bild på höger sida*/
.image-text-container picture:nth-child(2) img {
    border-radius: 0 var(--image-text-border-radius)
        var(--image-text-border-radius) 0;
}

/* bild på vänster sida */
.image-text-container picture:nth-child(1) img {
    border-radius: var(--image-text-border-radius) 0 0
        var(--image-text-border-radius);
}

.animal-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding: 2rem var(--inline-content-padding);
    box-shadow: var(--floating-shadow);
}
/* END ACTIVITIES SECTION */

/* POPULAR ANIMALS*/
.animals-section-content {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
}

table,
th,
td {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    background-color: var(--accent-color-2);
}

table img {
    /* to be able to center image */
    display: inline;
}

/* END POPULAR ANIMALS*/

/* OUR LOCATION*/
.location-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 4em;
}
/* END OUR LOCATION*/

/* NEWS LETTER */
.required {
    color: red;
}

.small-text {
    font-size: 0.8rem;
    margin: 0;
}

.news-heading-title {
    font-size: 3.09em;
    color: var(--secondary-color);
}

.news-sub-title {
    font-size: 1.9em;
    font-family: var(--heading-font-family);
    margin-block: 0.5em;
}

.news-wrapper {
    max-width: calc(var(--max-content-width) / 2);
}

form {
    display: grid;
    gap: 1rem;
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
}

form input {
    padding: 0.5rem;
    border-radius: var(--input-border-radius);
    border: 1px solid var(--accent-color-2);
}

form input:hover {
    border: 1px solid var(--accent-color-1);
}

label {
    font-family: var(--heading-font-family);
}
/* END NEWS LETTER */

/* FOOTER */
footer {
    display: flex;
    justify-content: center;
    gap: 3em;
    box-shadow: var(--floating-shadow);
    color: white;
    border-top: 2px solid var(--accent-color-1);
}

.footer-link-list {
    list-style: none;
    font-family: var(--heading-font-family);
}

.footer-heading-title {
    font-size: 1.5em;
    color: var(--secondary-color);
}

.icons-wrapper,
.footer-link-list {
    display: grid;
    gap: 0.5em;
    column-gap: 1em;
    grid-template-columns: auto auto;
}
/* END FOOTER */
